In [1]:
import warnings
warnings.filterwarnings(action='ignore')
import os
import sys
sys.path.append('.')

import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.auto import tqdm
from sklearn.preprocessing import StandardScaler
import pickle
from datetime import datetime
import logging
from sklearn.linear_model import LinearRegression

import torch
from torch import nn
from torch.utils.data import Dataset
from torch.optim.lr_scheduler import ReduceLROnPlateau
import torch.nn.functional as F

import FinanceDataReader as fdr

SEED=10
torch.manual_seed(SEED)
torch.cuda.manual_seed_all(SEED)
np.random.seed(SEED)

In [2]:
data_folder = './data/'

In [6]:
NASDAQ = fdr.StockListing('NASDAQ')
sp500 = fdr.StockListing('S&P500')

100%|██████████████████████████████████████| 4567/4567 [00:06<00:00, 721.55it/s]

In [12]:
sp500

,Symbol,Name,Sector,Industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,Building Products
2,ABT,Abbott,Health Care,Health Care Equipment
3,ABBV,AbbVie,Health Care,Pharmaceuticals
4,ABMD,Abiomed,Health Care,Health Care Equipment
...,...,...,...,...
500,YUM,Yum! Brands,Consumer Discretionary,Restaurants
501,ZBRA,Zebra,Information Technology,Electronic Equipment & Instruments
502,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
503,ZION,Zions Bancorp,Financials,Regional Banks
504,ZTS,Zoetis,Health Care,Pharmaceuticals

In [24]:
import requests
import pandas_market_calendars as mcal

def extract_historical_csvdata(symbol):
    api_key = '5fb4dbfbc7da14.06701815'
    url = f'https://eodhistoricaldata.com/api/intraday/{symbol}.US?api_token={api_key}&interval=1m'
    df = pd.read_csv(url)
    
    if df.empty == False:
        df['Datetime'] = df['Datetime']+"+00:00"
        df = df.set_index('Datetime')[2:]

        xkrx = mcal.get_calendar('NASDAQ')
        early = xkrx.schedule(start_date='2021-11-01', end_date='2022-02-27')

        df.index = pd.to_datetime(df.index)
        df = df.resample('1min').first().loc[mcal.date_range(early, frequency='1min')].interpolate(method='linear', limit_direction='both')
    
    data = pd.concat([data, df])
    
    return data

In [25]:
data = pd.DataFrame()
for i in tqdm(range(len(sp500['Symbol']))): 
    print(sp500['Symbol'][i])
    code = sp500['Symbol'][i]
    data = extract_historical_csvdata(code)[:-1]
    break

  0%|          | 0/505 [00:00<?, ?it/s]

MMM

In [26]:
data

,Timestamp,Gmtoffset,Open,High,Low,Close,Volume
2021-11-01 13:31:00+00:00,1.635773e+09,0.0,178.1100,178.4700,178.110,178.43,6899.0
2021-11-01 13:32:00+00:00,1.635774e+09,0.0,178.5550,178.7282,178.555,178.58,3099.0
2021-11-01 13:33:00+00:00,1.635774e+09,0.0,178.7300,178.7400,178.520,178.52,6878.0
2021-11-01 13:34:00+00:00,1.635774e+09,0.0,178.4350,178.6200,178.435,178.62,4285.0
2021-11-01 13:35:00+00:00,1.635774e+09,0.0,178.6332,178.7600,178.520,178.52,4412.0
...,...,...,...,...,...,...,...
2022-02-25 20:55:00+00:00,1.645822e+09,0.0,150.1300,150.4200,150.090,150.35,50173.0
2022-02-25 20:56:00+00:00,1.645823e+09,0.0,150.3300,150.4400,150.320,150.40,42470.0
2022-02-25 20:57:00+00:00,1.645823e+09,0.0,150.4000,150.4100,150.255,150.35,50698.0
2022-02-25 20:58:00+00:00,1.645823e+09,0.0,150.3550,150.4100,150.270,150.39,68067.0
2022-02-25 20:59:00+00:00,1.645823e+09,0.0,150.3900,150.5900,150.390,150.51,131229.0

In [70]:
for code in tqdm(l[18+169+181:]): 
    print(code)
    data = extract_historical_csvdata(code)[:-1]
    if data.empty == False:
        fe = FeatureEngineering('Close')
        data = fe.get_data(data)

        data['weekday'] = pd.DatetimeIndex(data.index).weekday
        data['year'] = pd.DatetimeIndex(data.index).year
        data['month'] = pd.DatetimeIndex(data.index).month
        data['day'] = pd.DatetimeIndex(data.index).day

        data.to_csv(f'./intra_data2/{code}.csv', index=0)  

data.isna().sum()

  0%|          | 0/2 [00:00<?, ?it/s]

110790
099320

Series([], dtype: float64)